html {
  height: 100%;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(239, 244, 252, 0.1);
  font-family: 'Bree Serif', serif;
}

body {
 height: 100%;
}

.main-container {
  width: 100%;
  height: 100%;
}

.body-container {
  margin-left: 36px;
  margin-top: 36px;
  max-width: 80%;
}

.header-text {
  margin-bottom: 16px;
  font-size: 36px;
}

.body-text {
  font-size: 18px;
}

.emoji-text {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  font-size: 30px;
}

.fact-box {
  margin-bottom: 16px;
}

.fact-text {
  display: inline-block;
  vertical-align: middle;
}

.hidden {
  display: none;
}

.inline-container {
  display: inline-block;
}

.graph-iframe {
  border: none;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 16px;
}
