<header class="site-header">
  <div class="wrapper">
    <nav class="site-nav">
      <div class="trigger">
        {% if page.label == "home" %}
          <a class="active-page-link" href="/">home</a>
        {% else %}
          <a class="page-link" href="/">home</a>
        {% endif %}
        {% if page.label == "blog" %}
          <a class="active-page-link" href="/blog">blog</a>
        {% else %}
          <a class="page-link" href="/blog">blog</a>
        {% endif %}
        {% if page.label == "about" %}
          <a class="active-page-link" href="/about">about</a>
        {% else %}
          <a class="page-link" href="/about">about</a>
        {% endif %}
        <!--{% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}-->
      </div>
    </nav>
  </div>
</header>
